{% extends 'back/admin.html.twig' %}
{% block body %}
    <table class="table table-head-fixed">
<h1 class="text-center">AJOUTER UNE NOUVELLE MATIERE </h1>

            {{ form_start(form1) }}
        <tr>
            <td>{{ form_label(form1.nomMatiere) }}</td>
            <td>{{ form_widget(form1.nomMatiere) }}</td>
        </tr>
        <tr>
            <td>{{ form_label(form1.sections) }}</td>
            <td>{{ form_widget(form1.sections) }}</td>
        </tr>
        <tr>
            <td>{{ form_end(form1) }}</td>
        </tr>

    </table>
{% endblock %}